<!doctype html>
<html ng-app = "epamBus" >
    <head>
        <meta charset="UTF-8">
        <!-- jQuery Core -->
        <script src="uui/js/lib/jquery-1.11.1.min.js"></script>
        <script src="uui/angular-1.3.16/angular.js"></script>

        <!-- Bootstrap Core -->
        <link rel="stylesheet" href="uui/bootstrap/css/bootstrap.min.css" />
        <script src="uui/bootstrap/js/bootstrap.min.js"></script>

        <!-- EPAM UUI JavaScript Core -->
        <script src="uui/js/uui-core.min.js" type="text/javascript"></script>

        <!-- EPAM UUI Styles Core -->
        <link rel="stylesheet" href="uui/css/uui-all.css" />

        <!-- Custom CSS Styles -->
        <link rel="stylesheet" href="uui/css/custom-styles.css" />

        <!-- Scroll for UUI Sidebar -->
        <link rel="stylesheet" href="uui/css/lib/components/jquery.mCustomScrollbar.css" />
        <script src="uui/js/lib/components/jquery.mCustomScrollbar.concat.min.js"></script>

        <!-- Icon set -->
        <link rel="stylesheet" href="uui/fonts/font-awesome/css/font-awesome.min.css" />

        <script src="app.js"></script>

    </head>

    <body ng-controller="TripController"> 
        <section class="uui-info-panel-vertical blue">
            <div class="info-panel-body">
                <div class="info-panel-section">
                    <i class="fa fa-bus"></i>
                    <h1><strong>EPAM</strong> Dream Tours</h1>
                </div>
            </div>
            <div class="info-panel-footer">
                <div class="info-panel-section">
                    {{currentDestination.city}}
                </div>
            </div>
        </section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <ul class="uui-items-list hover">
                        <li class="item-body" ng-repeat = "destination in destinations" ng-click="setValue(destination)">
                            <div class="item-section">
                                {{destination.city}}
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <table class="uui-table stripe">
                        <thead>
                            <tr>
                                <th>DEPARTURE</th>
                                <th>ARRIVE</th>
                                <th>SERVICE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat = "trip in currentDestination.trips">
                                <td>{{trip.departure}}</td>
                                <td>{{trip.arrive}}</td>
                                <td>{{trip.service}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>