.info-panel-section h1 {
	font-size: 65px;
}

.info-panel-section i {
	font-size: 40px;
	color: #9fdaea;
}

.info-panel-footer {
	min-height: 65px;
	font-size: 30px;
}

.active {
	min-height: 400px;
}